@{
    Layout = "~/Views/Shared/_OrderLayout.cshtml";
    ViewBag.Title = "订单详情";
}

<div class="panel panel-default">
    <div class="panel-heading" style="text-align:center;">
        <h1>@ViewBag.notice.Title</h1>
    </div>
    <div class="panel-body content">
        @Html.Raw(@ViewBag.notice.Content)
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="~/Scripts/ueditor/ueditor.parse.min.js"></script>
<script type="text/javascript">
    uParse('.content', {
        rootPath: '../'
    })
</script>
