<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">添加用户</h4>
        </div>
        <div class="modal-body">
            <form id="form_edit" action="users/editUser" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">用户编号</span>
                        <input type="text" class="form-control" name="Account" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">用户姓名</span>
                        <input type="text" class="form-control" name="DisplayName" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">身份证号</span>
                        <input type="text" class="form-control" name="CardNumber" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">用户角色</span>
                        <select name="RoleId" class="form-control">
                            @foreach (SelectListItem item in ViewBag.roles)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">性别</span>
                        <select name="Sex" class="form-control">
                            <option value="male">男</option>
                            <option value="female">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">联系电话</span>
                        <input type="text" class="form-control" name="Tel" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">备注</span>
                        <input type="text" class="form-control" name="Remark" />
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary save">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
