@using Webdiyer.WebControls.Mvc;
@using HWYZ.Models;
@using HWYZ.Context;
@model PagedList<Order>


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                @using (Ajax.BeginForm("Index", new RouteValueDictionary { { "id", "" } }, new AjaxOptions { UpdateTargetId = "container", InsertionMode = InsertionMode.Replace }, new { @id = "form_query" }))
                {
                    <div class="input-group">
                        <input type="text" class="form-control" name="key" placeholder="请输入订单编号" aria-describedby="basic-addon2">
                        <span class="input-group-addon" style="cursor: pointer;" id="basic-addon2">查询</span>
                    </div>
                }
            </div>
            <div class="col-md-7">
                @if (UserContext.user.Store != null)
                {
                    <a class="btn btn-info" style="float: right;" target="_blank" href="orderset/addOrder">添加</a>
                }
            </div>
        </div>
        <div class="row">
            <div id="container">
                @Html.Partial("List", Model)
            </div>
        </div>
    </div>
</div>

@{Html.RegisterMvcPagerScriptResource();}