<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="exampleModalLabel">添加角色</h4>
        </div>
        <div class="modal-body">
            <form id="form_edit" action="roles/editRole" method="post">
                <div class="form-group">
                    <label for="Account" class="control-label">角色名称:</label>
                    <input type="text" class="form-control" name="Account" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary save">保存</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
