<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel panel panel-default">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-12">
                        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#dlg_edit">添加</button>
                    </div>
                </div>
                <section id="unseen">
                    <div id="container">
                    </div>
                </section>
                <div class="modal fade" id="dlg_edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                </div>
            </div>
        </div>
    </div>
</div>
@Styles.Render("~/Content/zTreeStyle.css")
@Scripts.Render("~/Scripts/Page/roles.js")
@Scripts.Render("~/Scripts/jquery.ztree.core-3.5.min.js")
@Scripts.Render("~/Scripts/jquery.ztree.excheck-3.5.min.js")