<?xml version="1.0" encoding="utf-8"?>
<ArrayOfMenu xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Menu id="home" title="首页" icon="glyphicon-th-large" url="/Home" authVal="1"></Menu>

  <Menu id="store" title="门店管理" icon="glyphicon-home" authVal="64">
    <Menu id="storegrant" title="门店授权" icon="glyphicon-ok-circle" url="/StoreGrant" authVal="128">
    </Menu>
    <Menu id="storeinfo" title="门店信息" icon="glyphicon-eye-open" url="/StoreInfo" authVal="512">
    </Menu>
  </Menu>

  <Menu id="product" title="商品管理" icon="glyphicon-glass" authVal="1024">
    <Menu id="productset" title="商品维护" icon="glyphicon-log-in" url="/ProductSet" authVal="2048">
    </Menu>
    <Menu id="productquery" title="商品配送" icon="glyphicon-plane" url="/ProductDelive" authVal="4096">
    </Menu>
  </Menu>

  <Menu id="order" title="采购订单" icon="glyphicon-list-alt" authVal="8192" url="/Order">
  </Menu>

  <Menu id="system" title="系统管理" icon="glyphicon-cog" authVal="4">
    <Menu id="users" title="用户管理" icon="glyphicon-user" url="/Users" authVal="8">
    </Menu>
    <Menu id="roles" title="角色管理" icon="glyphicon-asterisk" url="/Roles" authVal="16">
    </Menu>
    <Menu id="password" title="修改密码" icon="glyphicon-edit" url="/PassWord" authVal="32">
    </Menu>
  </Menu>
</ArrayOfMenu>