<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
        </div>
        <div class="row">
            <ul class="nav nav-tabs">
                <li role="presentation" class="detail active"><a href="#detail">按明细</a></li>
                <li role="presentation" class="store"><a href="#store">按单位</a></li>
            </ul>
        </div>
        <div class="row" id="container">
        </div>
    </div>
</div>
@Scripts.Render("~/Scripts/Page/reportofsend.js")