@using HWYZ.Models;

<div class="table-responsive">
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <td>商品名称</td>
                <td>商品编号</td>
                <td>数量</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (CXSL item in ViewBag.list)
                {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductCode</td>
                    <td>@item.ProductNumber</td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div class="text-right" style="padding: 10px 15px;">
    @Html.Partial("~/Views/Shared/_pager.cshtml")
</div>
